.form {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    /* padding: 40px 0; */
    text-align: center;
}
  /* }
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: black;
  }
  .input {
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 5px;
  }
  .input::placeholder {
    color: gray;
  }
  .button {
    border-radius: 10px;
    background-color: palegoldenrod;
    padding: 5px 10px;
    border-color: transparent;
  }
  .button:hover,
  .button:focus {
    background-color: coral;
    color: whitesmoke;
  } */

  

   .label {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 25px;
    margin-left: 15px;
    padding: 5px;
  }
  
  .button {
    min-width: 100px;
    margin: 0 0 15px 15px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    /* margin-left: 10px; */
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: aliceblue;
    border-radius: 5px;
    color: #8b4513;
    transition: all 150ms ease-in-out;
  }
  
  .button:hover {
    background-color: #8b4513;
    color: #fff;
  }