.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(209, 207, 204, 0.75);
}

.listItem {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  margin-left: 15px;
}

.listItemName,
.listItemNumber {
  font-size: 16px;
  font-style: italic;
  margin-right: 15px;
}

.button {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: inherit;
  border-radius: 5px;
  background-color: #afeeee;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 250ms linear;
}

.button:hover {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
